/*
Contents:
I. Variables
II. General use formats
*/

.bloquestandard {
  display:block;
  margin-left:10%;
  margin-right:10%;
  margin-top:1rem;
}
.bloquethin {
  display:block;
  margin-left:15%;
  margin-right:15%;
  margin-top:1rem;
}
.bloquetiny {
  display:block;
  margin-left:20%;
  margin-right:20%;
  margin-top:1rem;
}

}
.bloquemini {
  display:block;
  margin-left:25%;
  margin-right:25%;
  margin-top:1rem;
}


.menu {
  display:flex;
  background-color:hsl(90.91, 90.91%, 90.91%);
  padding:0.2rem;
  margin:0;
  flex-direction:column;
  flex-wrap:wrap;
  align-content:flex-start;
}

.menuitem {
  padding: 11px;
}

.menuimg {
  height:72.73px;
}
