* {
  margin-top:3rem;
  margin-left:5rem;
  margin-right:5rem;
  margin-bottom:3rem;
  background-color:"floralWhite";
}

.bloque {
  display:block;
  padding-left:5rem
  padding-right:5rem;
  padding-top:3rem;
}
