* {
  background-color:"floralWhite";
}

.bloque {
  display:block;
  margin-left:15%;
  margin-right:15%;
  margin-top:1rem;
}

.menu {
  display:flex;
  background-color:hsl(90.9, 90.9%, 90.9%);
  padding:1rem;
  margin:0;
  flex-direction:column;
}

.menuitem {
  padding:0.09rem;
  padding-left:9.09px;
  padding-right:9.90px;
  border: 0.91px solid black;
  border-radius:11px;
}

.menuimg {
  height:9.09em
}
