/*
Contents:
I. Variables
II. General use formats
*/

* {
  background-color:"floralWhite";
}

.bloquestandard {
  display:block;
  margin-left:10%;
  margin-right:10%;
  margin-top:1rem;
}
.bloquethin {
  display:block;
  margin-left:calc(10%+5%);
  margin-right:calc(var(--margin)+5%);
  margin-top:1rem;
}
.bloquetiny {
  display:block;
  margin-left:calc(10%+10%);
  margin-right:calc(10%+10%);
  margin-top:1rem;
}

}
.bloquemini {
  display:block;
  margin-left:calc(10%+15%);
  margin-right:calc(10%+15%);
  margin-top:1rem;
}


.menu {
  display:flex;
  background-color:hsl(90.91, 90.91%, 90.91%);
  padding:1rem;
  margin:0;
  flex-direction:column;
  flex-wrap:wrap;
}

.menuitem {
  padding:0.09rem;
  padding-left:9.09px;
  padding-right:9.90px;
  border: 0.91px solid black;
  border-radius:11px;
  align-content:flex-start;
}

.menuimg {
  height:90.91px;
}
