/*
Basic formatting I: margins on default text types.
*/
.p {
  margin-top:3rem;
  margin-left:5rem;
  margin-rigt:5rem;
  margin-bottom:3rem;
}

.h1 {
  margin-top:3rem;
  margin-left:5rem;
  margin-rigt:5rem;
  margin-bottom:3rem;
}

.h2 {
  margin-top:3rem;
  margin-left:5rem;
  margin-rigt:5rem;
  margin-bottom:3rem;
}

.h3 {
  margin-top:3rem;
  margin-left:5rem;
  margin-rigt:5rem;
  margin-bottom:3rem;
}

.h4 {
  margin-top:3rem;
  margin-left:5rem;
  margin-rigt:5rem;
  margin-bottom:3rem;
}

.h5 {
  margin-top:3rem;
  margin-left:5rem;
  margin-rigt:5rem;
  margin-bottom:3rem;
}

/*
End margins.
*/
