* {
  background-color:"floralWhite";
}

.bloque {
  display:block;
  margin-left:15%;
  margin-right:15%;
  margin-top:1rem;
}
.bloquethin {
  display:block;
  margin-left:20%;
  margin-right:20%;
  margin-top:1rem;
}
.bloquetiny {
  display:block;
  margin-left:25%;
  margin-right:25%;
  margin-top:1rem;
}

.menu {
  display:flex;
  background-color:hsl(90.91, 90.91%, 90.91%);
  padding:1rem;
  margin:0;
  flex-direction:column;
  flex-wrap:wrap;
}

.menuitem {
  padding:0.09rem;
  padding-left:9.09px;
  padding-right:9.90px;
  border: 0.91px solid black;
  border-radius:11px;
  flex-grow:0%;
}

.menuimg {
  height:90.91px;
}
