/*
Contents:
I. Text Blocks
II. Menus
III. Updates/Items indices
*/

/*
======||======
      ||      
      ||      
      ||      
      ||      
======||======
*/

.bloquestandard {
  display:block;
  margin-left:10%;
  margin-right:10%;
  margin-top:1rem;
}
.bloquethin {
  display:block;
  margin-left:15%;
  margin-right:15%;
  margin-top:1rem;
}
.bloquetiny {
  display:block;
  margin-left:20%;
  margin-right:20%;
  margin-top:1rem;
}

}
.bloquemini {
  display:block;
  margin-left:25%;
  margin-right:25%;
  margin-top:1rem;
}

/*
====||==||====
    ||  ||      
    ||  ||      
    ||  ||      
    ||  ||      
====||==||====
*/

.menu {
  display:flex;
  background-color:hsl(90.91, 90.91%, 90.91%);
  padding:0.2rem;
  margin:0px;
  flex-direction:column;
  flex-wrap:wrap;
  align-content:flex-start;
}

.menuitem {
  padding: 11px;
  margin:0px;
}

.menuimg {
  height:72.73px;
}

/*
===||=||=||===
   || || ||      
   || || ||      
   || || ||      
   || || ||      
===||=||=||===
*/

  /*Updates*/

.updatebox {
  display:flex;
  flex-direction:row;
  border-width:2.73px;
  border-style:solid;
  border-radius:11px;
}

.updateimg {
  max-height:55px;
  max-width:55px;
}
